.body{
    margin-top:200px;
    background-color: #ddcad9;
    background-image: linear-gradient(315deg, #ddcad9 0%, #d1b1cb 74%);
    width:1000px;
    margin-left:250px;
    height:300px;
    border-radius:25px;
    box-shadow: 10px 10px 5px grey;
}

.body > h1{
    text-align:center;
    padding-top:5px;
    color:#7F00FF
}

.body > p{
    margin-left:12px;
    padding:15px;
    font-size:18px;
    font-weight:400;
}

.project{
    display:flex;
    padding:20px;
    padding-left:100px;
}

.project > p{
    margin-left:5px;
    font-size:18px;
    font-weight:400;
}


.icon{
    color:#7F00FF;
}