.headerOption{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-right:20px;
    color:gray;
    cursor:pointer;
    padding-right:65px;
    text-decoration:none;
}

.headerOption:hover{
    color:#7F00FF;
}

.headerOption_title{
    font-size:13px;
    font-weight:600;
    text-decoration:none;
}

.headerOption_icon{
    object-fit:contain;
    height:30px  !important;
    width:30px !important;
    padding-right:5px;
}